.aside {
  width: 150px;
  height: 100%;
  background-color: #282d32;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  padding: 10px; }

@media (max-width: 640px) {
  .aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #282d32;
    position: relative;
    height: auto;
    padding: 10px; } }

.main-content {
  margin-left: 150px;
  background-color: white;
  margin-top: -21px; }

.footer {
  margin-left: 150px;
  background-color: #353a3f;
  height: 300px;
  list-style: none; }

.nav--footer {
  display: flex;
  margin-bottom: 18px;
  padding-top: 73px;
  font-weight: bold;
  padding-left: 97px; }
  .nav--footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .nav--footer ul li {
      display: inline;
      opacity: 0.5;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      line-height: 30.2px;
      margin: 24px;
      font-size: 17px; }
      .nav--footer ul li a {
        text-decoration: none;
        color: #ffffff; }
  .nav--footer .nav__list-item2 {
    margin-left: 21px; }
  .nav--footer .nav__list-item3 {
    margin-left: 23px; }
  .nav--footer .nav__list-item5 {
    margin-left: 22px; }

.footer__copywrite {
  margin-left: 117px;
  opacity: 0.3;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.4px; }

* {
  box-sizing: border-box; }

body {
  background: white;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif; }

.blog {
  padding: 120px;
  height: 1496px; }

.blog__heading {
  text-transform: uppercase;
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 71px;
  font-weight: bold; }
  .blog__heading::before {
    display: block;
    content: " ";
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #4cb480;
    position: relative;
    margin: -19px 0px 26px 3px; }

.post-preview {
  display: flex;
  margin-bottom: 61px; }

.post-preview__desc {
  padding: 20px 20px 20px 40px; }

.post-preview:last-child {
  margin-bottom: 0; }

.post-preview__img {
  flex-shrink: 0;
  flex-basis: 565px; }
  .post-preview__img img {
    display: block;
    object-fit: cover;
    max-height: 360px;
    height: 100%;
    width: 100%; }

.post-preview__title {
  color: #353a3f;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 15px;
  margin-left: 38px; }

.nav {
  position: relative;
  margin-top: 56px; }
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .nav ul li a {
      text-decoration: none;
      color: #ffffff; }

.nav::before, .nav::after {
  display: block;
  content: "";
  width: 90px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.1;
  position: relative;
  top: -2px;
  left: 50%;
  transform: translateX(-50%); }

.nav::after {
  top: auto;
  bottom: 0;
  margin-top: 40px; }

.Work > a {
  width: 52px;
  height: 12px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 31.2px;
  text-transform: uppercase;
  letter-spacing: 0.8px; }

.About > a {
  width: 58px;
  height: 12px;
  opacity: 0.5;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 31.2px;
  text-transform: uppercase;
  letter-spacing: 0.8px; }

.Services > a {
  width: 78px;
  height: 12px;
  opacity: 0.5;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 31.2px;
  text-transform: uppercase;
  letter-spacing: 0.8px; }

.Blog > a {
  width: 44px;
  height: 12px;
  opacity: 0.5;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 31.2px;
  text-transform: uppercase;
  letter-spacing: 0.8px; }

.Contact > a {
  width: 82px;
  height: 12px;
  opacity: 0.5;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  line-height: 31.2px;
  text-transform: uppercase;
  letter-spacing: 0.8px; }

.search svg {
  fill: white;
  width: 35px;
  opacity: 1.3;
  text-align: center;
  margin-top: 49px; }

.toggle {
  width: 0;
  height: 0;
  visibility: hidden; }
  .toggle:checked ~ ul {
    display: none; }

.Work {
  margin-top: 4px; }

.About, .Services, .Blog, .Contact {
  margin-top: 20px; }

.logo {
  font-size: 33px;
  color: #4cb488;
  text-transform: uppercase;
  margin-top: 42px; }

.logo::after {
  display: block;
  content: "";
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background: #4cb488;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 7px; }

.hero {
  width: auto;
  height: 855px;
  background-color: #353a3f; }
  .hero > h1 {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 217px;
    padding-left: 323px;
    line-height: 31.2px;
    font-size: 63px;
    font-family: 'Timesnewroman'; }
  .hero > h2 {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 325px;
    margin-top: 62px;
    font-size: 30px;
    letter-spacing: 0.5px; }
  .hero > p {
    color: #ffffff;
    opacity: 0.5;
    font-family: "Poppins";
    margin-top: 16px;
    position: relative;
    top: -5px;
    padding-left: 326px;
    width: 78%;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.67px; }
  .hero::before {
    display: block;
    content: " ";
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #4cb480;
    position: relative;
    top: 220px;
    left: 325px; }

.feedback {
  height: 600px;
  background-color: #353a3f; }

.feedback__text {
  color: #ffffff;
  font-size: 28px;
  padding-top: 200px;
  padding-left: 330px;
  width: 80%;
  font-style: italic; }
  .feedback__text q::before {
    quotes: '\201C';
    width: 48px;
    height: 39px;
    color: #4cb480;
    font-size: 200px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 3px;
    font-style: italic; }
  .feedback__text q::after {
    content: none; }

.author {
  width: 200px;
  height: 24px;
  color: #8c9198;
  font-size: 20px;
  font-weight: bold;
  line-height: 30.02px;
  margin-left: 320px; }
  .author::before {
    display: block;
    content: " ";
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #8c9198;
    margin-bottom: 20px;
    margin-top: 60px; }

.services {
  display: flex;
  width: auto;
  height: 662px; }
  .services > .item {
    margin: 0 30px;
    border-radius: 6px;
    background-color: #999898;
    padding: 0 62px;
    text-align: center;
    position: relative;
    margin-top: 60px;
    min-width: 290px; }
  .services .item-title {
    text-transform: uppercase;
    font-size: 30px;
    color: #353a3f; }
  .services .icon {
    background-color: #ffffff;
    border-radius: 50%;
    width: 110px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -55px;
    left: 50%;
    transform: translateX(-50%); }
    .services .icon svg {
      width: 40px;
      fill: #4cb84c; }

@media (max-width: 640px) {
  .main-content {
    margin-left: 0;
    padding: 10px; } }

@media (max-width: 1200px) {
  .services {
    flex-direction: column; } }

.social-icons {
  margin-left: 20px;
  margin-left: 1173px;
  position: relative;
  bottom: 61px; }
  .social-icons__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .social-icons__list-item1 {
      margin: 0 5px; }
    .social-icons__list-item2 {
      margin: 2px 16px; }
    .social-icons__list-item3 {
      margin-left: 11px; }
  .social-icons svg {
    display: block;
    fill: white;
    width: 35px; }

.hero > button {
  color: #ffffff;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #4cb480;
  text-transform: uppercase;
  margin: 17px 326px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold; }

.actions > button {
  color: #ffffff;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #4cb480;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold; }

.post-preview__button {
  color: #ffffff;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #4cb480;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold; }
