.hero > button{
    color: #ffffff;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #4cb480;
    text-transform: uppercase;
    margin: 27px 326px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}

