.hero > button{
    background-color: #4cb480;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    margin: 17px 326px;
    outline: none;
    text-transform: uppercase;
    width: 200px;
}
.actions > button{
    background-color: #4cb480;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    height: 57px;
    outline: none;
    text-transform: uppercase;
    width: 156px;
}
.post-preview__button{
    background-color: #4cb480;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    outline: none;
    text-transform: uppercase;
    width: 200px;
}


