.hero > button{
    color: #ffffff;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #4cb480;
    text-transform: uppercase;
    margin: 17px 326px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: bold;
}
.actions > button{
    color: #ffffff;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #4cb480;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: bold;
}
.post-preview__button{
    color: #ffffff;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #4cb480;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: bold;
}


