.blog {
    padding: 40px;
    height: 1500px;
  }
  
  .blog__heading {
    text-transform: uppercase;
    font-size: 44px;
  }
  
  .post-preview {
    display: flex;
    margin-bottom: 30px;
  }
  
  .post-preview__desc {
    padding: 20px 20px 20px 40px;
  }
  
  .post-preview:last-child {
    margin-bottom: 0;
  }
  
  .post-preview__img {
    flex-shrink: 0;
    flex-basis: 565px;
  
    img {
      display: block;
      object-fit: cover;
      max-height: 360px;
      height: 100%;
      width: 100%;
    }
  }