.blog {
  height: 1496px;
  padding: 120px;
  }
  
  .blog__heading {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 71px;
    margin-top: 20px;
    text-transform: uppercase;
     
    &::before{
      background-color: #4cb480;
      border-radius: 2px;
      content: " ";
      display: block;
      height: 4px;
      margin: -19px 0px 26px 3px;
      position: relative;
      width: 60px;
     }
  }
  
  .post-preview {
    display: flex;
    margin-bottom: 61px;
  }
  
  .post-preview__desc {
    padding: 20px 20px 20px 40px;
  }
  
  .post-preview:last-child {
    margin-bottom: 0;
  }
  
  .post-preview__img {
    flex-basis: 565px;
    flex-shrink: 0;
  
    img {
      display: block;
      height: 100%;
      max-height: 360px;
      object-fit: cover;
      width: 100%;
    }
  }
  .post-preview__title{
    color: #353a3f;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-left: 38px;
    margin-top: 15px;
    text-transform: uppercase;
  }