.feedback{
    background-color: #353a3f;
    height: 600px;
}
.feedback__text{
    color: #ffffff;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 0.42px;
    line-height: 38.02px;
    padding-left: 324px;
    padding-top: 138px;
    width: 76%;
}
 .quotes{
    height: 39px;
    left: 322px;
    position: relative;
    top: 144px;
    width: 48px;
 }
.author{
    color: #8c9198;
    font-size: 20px;
    font-weight: bold;
    height: 24px;
    line-height: 30.02px;
    margin-left: 326px;
    width: 200px;
    &::before{
        background-color: #8c9198;
        border-radius: 2px;
        content: " ";
        display: block;
        height: 4px;
        margin-bottom: 14px;
        margin-top: 53px;
        width: 60px;
    }
}