.feedback{
    height: 600px;
    background-color: #353a3f;
}
.feedback > p{
    color: #ffffff;
    font-size: 28px;
    padding-top: 200px;
    padding-left: 330px;
    font-weight: 400;
    width: 80%;
    font-family: "Poppins - LightItalic";
}