.hero{
    width: auto;
    height: 855px;
    background-color: #353a3f;
}
.hero > h1{
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 240px;
    padding-left: 331px;
}
.hero > h2{
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 331px;
    margin-top: 60px;
}
.hero > p{
    color: #ffffff;
    opacity: 0.5;
    margin-top: 30px;
    padding-left: 327px;
    width: 80%;
    font-size: 28px;
}
.hero::before{
    display: block;
    content: " ";
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #4cb480;
    position: relative;
    top: 220px;
    left: 325px;
}