.hero {
    background-color: #353a3f;
    height: 855px;
    width: auto;
  
    > {
      h1 {
        color: #ffffff;
        font-family: 'Timesnewroman';
        font-size: 63px;
        line-height: 31.2px;
        padding-left: 323px;
        padding-top: 217px;
        text-transform: uppercase;
      }
  
      h2 {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.5px;
        margin-top: 62px;
        padding-left: 325px;
        text-transform: uppercase;
      }
  
      p {
        color: #ffffff;
        font-family: "Poppins";
        font-size: 24px;
        letter-spacing: -0.67px;
        line-height: 36px;
        margin-top: 16px;
        opacity: 0.5;
        padding-left: 326px;
        position: relative;
        top: -5px;
        width: 78%;
      }
    }
  
    &::before {
      background-color: #4cb480;
      border-radius: 2px;
      content: " ";
      display: block;
      height: 4px;
      left: 325px;
      position: relative;
      top: 220px;
      width: 60px;
    }
  }