.logo{
    color: #4cb488;
    font-size: 33px;
    margin-top: 42px;
    text-transform: uppercase;
}
.logo::after{
    background: #4cb488;
    border-radius: 2px;
    content: "";
    display: block;
    height: 4px;
    margin-left: 50%;
    margin-top: 7px;
    transform: translateX(-50%);
    width: 25px;
}
   