.services {
    display: flex;
    height: 691px;
    width: auto;
  
    > .item {
      background-color: #ffffff;
      border-radius: 6px;
      left: 54px;
      margin: 123px 69px;
      min-width: 290px;
      padding: 0 57px;
      position: relative;
      text-align: center;
    }
  
    .item-title {
      color: #353a3f;
      font-size: 30px;
      letter-spacing: 1.5px;
      margin-top: 2px;
      text-transform: uppercase;
    }

    .item-desc{
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.45px;
      line-height: 30px;
      margin-bottom: 28px;
      margin-top: -10px;
    }
  
    .icon {
      align-items: center;
      background-color: #ffffff;
      border-radius: 50%;
      display: flex;
      height: 100px;
      justify-content: center;
      left: 50%;
      position: relative;
      top: -47px;
      transform: translateX(-50%);
      width: 110px;
  
      svg {
        fill: #4cb84c;
        margin-left: -1px;
        margin-top: -11px;
        width: 40px;
      }
    }
  }
  
  @media (max-width: 640px) {
    .main-content {
      margin-left: 0;
      padding: 10px;
    }
  }
  
  @media (max-width: 1200px) {
    .services {
      flex-direction: column;
    }
  }