extends layout

block content
    div #{title}
    .container
        .row
            .col
                form#login-form
                    .form-group
                        label(for='firstname') Title
                        input#firstname.form-control(type='text' name='title' value=`${title}`)
                    .form-group
                        label(for='lastname') Subtitle
                        input#lastname.form-control(type="text" name='subtitle' value=`${subtitle}` )
                    .form-group
                        label(for='lastname') Description
                        input#lastname.form-control(type="textarea" name='desc' value=`${description}` )
                    .form-group
                        button#login-btn.btn.btn-primary save