extends layout

block content
    nav.navbar.navbar-light.bg-light
        .container
           button#card.btn.btn-primary Cart
              
    
    .container.products
       .row
           each item in items
                 .col
                     .card
                        img.card-img-top(src=`${item.image}` alt='')
                        .card-body
                            h5.card-title= item.name
                            p.card-text
                            | Price: #{item.price}
                            div
                                button(data-id=`${item.id}`).btn.btn-primary Add to cart
                
       