html
    head
        title My Awesome Site
        link(href="./css/style.css" rel="stylesheet")
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=e2a011c0-df2b-40b7-964f-f20cd9e9294f' type='text/javascript')
        script(src="./js/main.js" )
    body
        block content
        div#map