extends layout

block content
   .container
        .row
            .col
                h1 Login page
                form#login-form
                    .form-group
                        label(for='Name') Name
                        input#firstname.form-control(type='text' name='username' placeholder='Name')
                    .form-group
                        label(for='Password') Password
                        input#lastname.form-control(type='password' name='Password' placeholder='Password')
                    .form-group
                         button#login-btn.btn.btn-primary login    
                    div.status        