.aside{
    background-color: #282d32;
    height: 100%;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 150px;
}
@media (max-width: 640px) {
    .aside{
      align-items: center;
      background-color: #282d32;
      display: flex;
      height: auto;
      justify-content: space-between;
      padding: 10px;
      position: relative;
      width: 100%;
    }
}