*{ 
    box-sizing: border-box;
 } 
body {
    background:white;
    font-family: "Poppins", "Arial", sans-serif;
    margin: 0;
}
.hide {
    display: none;
}

.collapse-content {
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    transition: all .3s;

    &.show {
        transition: all .3s;
        height: auto
    }

    

}